<!DOCTYPE html>
<html>
<head>
	<title>Password reset done</title>
</head>
<body>
	{% extends 'base.html' %}

{% block content %}
<h2>Password reset done</h2>

<a href="{% url 'login' %}">Back to login</a>
{% endblock %}
</body>
</html>