<!DOCTYPE html>
<html>
<head>
	<title>Reset complete</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h2>Password reset complete</h2>

<a href="{% url 'login' %}">Back to login</a>
{% endblock %}
</body>
</html>