﻿ul {
  list-style-type: none;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 5% auto;
  float: right;
}

.timeline h2 {
  color: #f0d200;
}

.time {
 display: inline-block;
 width: 90%;
}

.list {
  width: 100%;
}

.name{
    color: #f0d200;
    background-color: transparent;
}

/*.time{*/
/*    width: 40%;*/
/*    float: left;*/
/*    position: relative;*/
/*}*/

.item{
    background-color: transparent;
    color: black;
    border-radius: 3px;
    height: 95px;
}

.song{
    font-size: 0.9rem;
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}

.artist{
    font-size: 0.9rem;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}

.songlink{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 0.9rem;
    width: 30%;
    position: relative;
    text-align: center;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}
.fuck{
    float:left;
}

.fuck1{
    float:right;
}

.item:hover{
    background-color: rgba(255,255,255,0.1);
    color: #999999;
}

.item #link:hover{
    color: #999999;
}

.container2 {
  height: auto;
  display: flex;
  align-items: flex-start;
}