ul {
  list-style-type: none;
}

.time {
 display: inline-block;
 border: 1px solid #f0d200;
 border-radius: 5px;
}

.list {
  column-count: 3;
  column-gap: 2px;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.name{
    color: #f0d200;
    background-color: transparent;
}

/*.time{*/
/*    width: 40%;*/
/*    float: left;*/
/*    position: relative;*/
/*}*/

.item{
    background-color: transparent;
    color: #161b40;
    border-radius: 3px;
    height: 100px;
}

.song{
    font-size: 0.9rem;
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}

.artist{
    font-size: 0.9rem;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}

.songlink{
    text-decoration: none;
    color: #161b40;
    float: left;
    font-size: 0.9rem;
    width: 30%;
    position: relative;
    text-align: center;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}
.fuck{
    float:left;
}

.fuck1{
    float:right;
}

.item:hover{
    background-color: rgba(255,255,255,0.1);
    color: #999999;
}

.item #link:hover{
    color: #999999;
}

.container2 {
  height: auto;
  display: flex;
  align-items: flex-start;
}

#delete{
    float: right;
    margin-bottom: 3px;
    border: none;
    color: #ffcb9a;
    background-color: black;
    height: 20px;
    width: 60px;
    border-radius: 2px;
    font-family: "Special Elite";
}

#delete:hover {
    background-color: white;
    color: black;
}