@import url("https://fonts.googleapis.com/css?family=Special+Elite");
html, body {
	background-color: #fefced;
	font-family: "Special Elite";
}
.header {
	height: 10%;
	background-color: #e2b2ff;
	position: absolute;
	width: 100%;
	margin-top: 0;
	top: 0;
}

.header a {
	height: 50%;
	width: 12%;
	border-radius: 20px;
	float: right;
	text-decoration: none;
	color: black;
	text-align: center;
	background-color: transparent;
	margin-top: 1%;
	font-size: 30px;
}

.header .mood{
	width: 21%;
}

.header a:hover {
	color: #eeeeee;
	background-image: rgba(255,255,255,0.8);
}

.header #left a{
	height: 50%;
	width: 40%;
}

.header #left {
	float: left;  
	color: black;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	margin-top: 1%;
	height: 50%;
	width: 30%;
}

.header #left:hover {
	border-radius: 20px;
	margin-right: 5%;
	text-decoration: none;
	color: #eeeeee;
	text-align: center;
	background-image: rgba(255,255,255,0.8);
	margin-top: 1%;
	float: left; 
}

#fleur {
	margin-left: 20%;
	height: 100%;
	float: left;
}

#link{
	margin-right: 2%;
	vertical-align: middle;
}

#list {
	height: 30px;
	width: 100px;
	border-radius: 2px;
	color: #faf2b5;
	background-color: #a767ff;
	border: none;
}

#list:hover {
	background-color: white;
	color: black;
}

#listname {
	height: 30px;
	width: 200px;
	border-radius: 2px;
	border:none;
	font-family: "Special Elite";

}

.buttons {
	margin-top: 100px;
	border-radius: 2px;
	margin-left: 30px;
}

.buttons button {
	color: #faf2b5;
	background-color: #a767ff;
	border-style: none;
	height: 50px; 
	width: 100px;
}