@import url("https://fonts.googleapis.com/css?family=Special+Elite");
body {
	background-color: #fefced;
	font-family: "Special Elite";
}
.header {
	height: 10%;
	background-color: #e2b2ff;
	position: absolute;
	width: 100%;
	margin-top: 0;
	top: 0;
}

.header a {
	height: 20px;
	width: 50%;
	border-radius: 20px;
	float: right;
	margin-right: 5%;
	text-decoration: none;
	color: black;
	text-align: center;
	background-color: transparent;
	font-size: 30px;
}

.header a:hover {
	height: 50%;
	width: 50%;
	border-radius: 20px;
	float: right;
	margin-right: 5%;
	text-decoration: none;
	color: #aaaaaa;
	text-align: center;
	background-image: rgba(255,255,255,0.8);
}

.header #left {
	float: left; 
	margin-left: 10px; 
	color: black;
	height: 50%;
	width: 40%;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	margin-top: 1%;
}

.header #left:hover {
	border-radius: 20px;
	margin-right: 5%;
	text-decoration: none;
	color: #aaaaaa;
	text-align: center;
	background-image: rgba(255,255,255,0.8);
	float: left; 
	margin-left: 10px;
}

.header #left a{
	height: 50%;
	width: 40%;
}

#fleur {
	margin-left: 20%;
	height: 100%;
	float: left;
}

#link{
	margin-right: 20%;
}