<!DOCTYPE html>
<html>
<head>
	<title>Emotion by month</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  	body {
  		background-color: #fefced;
  		width: 100%;
  		height: 100%;
  	}
  </style>
</head>
<body>
	<!-- <h1>Hello</h1> -->

	<div class="header {% block header %}{% endblock%}">
			<a id="left" href="{% url 'dashboard' %}"><img src="{% static 'ff.png' %}" id="fleur"><span id="link">RECOMMENDATION</span></a>
		{% if user.is_authenticated %}
        	<a href="{% url 'logout' %}"><span id="link">Logout</span></a>
        	<a href="{% url 'mylist' %}"><span id="link">My Lists</span></a>
        	<a class = "mood" href="{% url 'chart' %}"><span id="link">Emotion tracker</span></a>
        	<!-- <a href="{% url 'password_change' %}">Change password</a> -->
    	{% else %}
        	<a href="{% url 'register' %}"><span id="link">Login</span></a>
    	{% endif %}
	</div>
	{% block content %}
	{%endblock%}
	<div class="buttons">
  <button class="tabbutton" name="Year">This year</button>
  <button class="tabbutton" name="Month">This month</button>
  <button class="tabbutton" name="Day">Today</button>
</div>
	<div class="row">
    <div class="col-md-6">
      <canvas id="Year" class="tab"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="Month" class="tab" style="display: none;"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="Day" class="tab" style="display: none;"></canvas>
    </div>
 </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <script type="text/javascript">
    var endpoint = "{% url 'chartData' %}";
  	console.log("running");
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
        // drawBarGraph(data, 'myChartBar');
        console.log(data);

        drawBarGraph(data.y, "Year");
        drawBarGraph(data.m, "Month");
        drawBarGraph(data.d, "Day");
      },
      error: function(error_data) {
        console.log(error_data);
      },
    })
  
    function drawBarGraph(data, id) {
      var labels = data.labels;
      var chartLabel = data.chartLabel;
      var chartdata = data.chartdata;
      var ctx = document.getElementById(id).getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: chartLabel,
            data: chartdata,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    }

  	$('.tabbutton').click(function open(e) {
  var i;
  var x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  var name = $(this).attr('name');
  document.getElementById(name).style.display = "block";  
});
  </script>
</body>
</html>