<!DOCTYPE html>
<html>
<head>
	<title>Playlist</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'list1.css' %}">
</head>
<body>
	<!-- <h1>Hello</h1> -->

	<div class="header {% block header %}{% endblock%}">
			<a id="left" href="{% url 'dashboard' %}"><img src="{% static 'ff.png' %}" id="fleur"><span id="link">RECOMMENDATION</span></a>
		{% if user.is_authenticated %}
        	<a href="{% url 'logout' %}"><span id="link">Logout</span></a>
        	<a href="{% url 'mylist' %}"><span id="link">My Lists</span></a>
            <a class="mood" href="{% url 'chart' %}"><span id="link">Emotion tracker</span></a>
        	<!-- <a href="{% url 'password_change' %}">Change password</a> -->
    	{% else %}
        	<a href="{% url 'register' %}"><span id="link">Login</span></a>
    	{% endif %}
	</div>
	<h2 id="mtitle">YOUR PLAYLISTS</h2>
	<div class="list">
			
	</div>
<script type="text/javascript">
	// var list;
	// console.clear();
	$(document).ready(function(){
	console.log("running");
    $.ajax({
        url : "{% url 'lists' %}", // the endpoint
        type : "GET", // http method
        // data : { user_id :  }, // data sent with the get request
        // handle a successful response
        success : function(json) {
            console.log("success"); // another sanity check
            console.log(json);
            var div = $(".list");
            $(div).empty();
            var array = $.map(json, function(value, index){
    			return [value];
			});
            var name = "{% url 'del_list' 0 %}";
            for (i = 0; i < array.length; i++) {
            	$(div).append('<ul class="time" id="ul'+i+'"></ul>');
            	var temp = "#ul" + i;
                var temp1 = "#" + array[i][0][5];
            	$(temp).append('<h2 class="name">Name : ' + array[i][0][0] + '</h2><a class="delete" id="'+array[i][0][5]+'" href="">Delete</a>');
                $(temp1).attr('href', name+array[i][0][5]);
            	for(j = 0; j < array[i].length; j++){
            		count = j+1;
            		$(temp).append('<li class="item"><p class="song">'+ count+'. '+array[i][j][1]+' ('+array[i][j][3]+')</p>'+'<p class="artist">Artist: '+array[i][j][2]+'</p><a class="songlink" target="_blank" href="'+array[i][j][4]+'">LINK</a></li>');
            	}
            }
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        },
    });
});
</script>
</body>
</html>