<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
<style type="text/css">
	
</style>
</head>
<body>

<div class="header {% block header %}{% endblock%}">
			<a id="left" href="{% url 'dashboard' %}"><img src="{% static 'ff.png' %}" id="fleur"><span id="link">RECOMMENDATION</span></a>
	</div>

<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<form method="post" action="{% url 'register' %}">
			{% csrf_token %}
		<div class="form-holder">
			<input type="text" class="input" placeholder="Name" name="username" />
			<input type="email" class="input" placeholder="Email" name="email" />
			<input type="password" class="input" placeholder="Password" name="password" />
		</div>
		<input type="submit" class="submit-btn" value="Sign up" name="submit">
		</form>
	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<form method="POST" action="{% url 'register' %}">
				{% csrf_token %}
			<div class="form-holder">
				<input type="text" class="input" placeholder="Name" name="username"/>
				<input type="password" class="input" placeholder="Password" name="password"/>
			</div>
			<input type="submit" class="submit-btn" value="Log in" name="submit">
			</form>
		</div>
	</div>
	

</div>
<script type="text/javascript">
	console.clear();

const loginBtn = document.getElementById('login');
const signupBtn = document.getElementById('signup');

loginBtn.addEventListener('click', (e) => {
	let parent = e.target.parentNode.parentNode;
	Array.from(e.target.parentNode.parentNode.classList).find((element) => {
		if(element !== "slide-up") {
			parent.classList.add('slide-up')
		}else{
			signupBtn.parentNode.classList.add('slide-up')
			parent.classList.remove('slide-up')
		}
	});
});

signupBtn.addEventListener('click', (e) => {
	let parent = e.target.parentNode;
	Array.from(e.target.parentNode.classList).find((element) => {
		if(element !== "slide-up") {
			parent.classList.add('slide-up')
		}else{
			loginBtn.parentNode.parentNode.classList.add('slide-up')
			parent.classList.remove('slide-up')
		}
	});
});
</script>
</body>
</html>